body{
    margin: 0;
    font-family: Poppins;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}


.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}

/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    transition: .5s;
}

.cartTotal {  /*ESTILOS PARA EL TOTAL DEL CARRITO*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}

/*INICIO DE ESTILOS DEL FORMULARIO DE DATOS DEL CLIENTE*/
.cartForm {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0; /*Evita que el formulario se esconda*/
}

.cartForm label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #eee;
}

#addressField {
    flex-direction: column; /*Asegura que el label del input quede arriba*/
}

#addressField{
    width: 100%; /*Ocupa el mismo ancho que los demas*/
}


.cartForm input, 
.cartForm select {
    padding: 6px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    margin-top: 4px;
    width: 100%; /*asegura que todos tengan el mismo ancho*/
    box-sizing: border-box; /*evita desbordes raros*/
}
/*FIN DE ESTILOS DEL FORMULARIO DE DATOS DEL CLIENTE*/


body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 10px;
    /* grid-template-columns: repeat(2, 1fr); */
}

.cartTab  button{
    flex: 1;
    padding: 10px;
    font-size: 15px;
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .close{
    background-color: #eee;
}

.listCart .item img{
    width: 100%;
}

.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}

.listCart .item:nth-child(even){
    background-color: #eee1;
}

.listCart{
    overflow: auto;
}

.listCart::-webkit-scrollbar{
    width: 0;
}

@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}
